@model Domain.Entity.Blog
@{
    ViewBag.Title = Model.Title;
}

<!--NEWS-->
<div class="well">
    <h1 class="news_title">
        <strong>@Model.Title</strong>
    </h1>
    <div class="separator"></div>
    <div class="row">
        @if (Model.ImageData != null)
        {
            <div>
                <img src="@Url.Action("GetImage", "Home", new { blogId = Model.BlogId })" width="350" height="350" class="img-responsive detail_img" />
            </div>
        }
    </div>
    <p class="clearfix">
        @Html.Raw(Html.ReplaceNewLineСharacters(Model.Description))
    </p>
    <div class="detail_date">
        <p class="pull-left">
            @Model.Date.Value.ToShortDateString()
        </p>
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <div class="clearfix">
            <div class="btn-group pull-right">
                @Html.ActionLink("Изменить", "Editor", "Admin", new { blogId = Model.BlogId, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Удалить", "DeleteNews", "Admin", new { blogId = Model.BlogId }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>

<!--ADD COMMENT-->
<div class="panel panel-default">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel-heading">
            <h2>
                <span class="glyphicon glyphicon-comment"></span>
                Добавить коментарий
            </h2>
            @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "comments_list", Url = Url.Action("AddNewCommment") }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="blogId" value="@Model.BlogId" />
                <textarea name="text" rows="5" class="form-control addcomment_input"></textarea>
                <input type="submit" value="Добавить" class="btn btn-default addcomment_btn" />

            }
        </div>
    }

    <!--COMMENTS-->
    <div id="comments_list">
        @Html.Action("CommentsList");
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}